<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="margin-top: 20px;">
            <List @imageList={{@model.data}}/>
        </div>
        <div class="col-md-3" style="margin-top: 20px;">
            <ListPath @imageList={{@model.data}}/>
        </div>
        <div class="col-md-3">
             <PreviewImage @imageList={{@model.data}}/>  <!-- @model.data because the json information has been wrapped in the data array -->
        </div>
    </div>
</div>


{{outlet}}